:root {
  --card-color: black;
}

@font-face {
  font-family: 'Font';
  src: url('assets/fonts/Lovelt__.ttf');
}

body {
  align-items: center;
  background-color: black;
  background-image: url("assets/lattice.png");
  background-attachment: fixed;
  background-position: center;  
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 205vh;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: var(--card-color);
  border-radius: 15px;
  display: flex;
  height: 700px;
  flex-direction: column;
  position: relative;
  width: 25vw;  
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    #730002,
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-image: url("assets/divine_circuitry_d_size.png");
  background-position: center; 
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 4px;
  padding: 10px;
  padding-top: 18vh;
  position: absolute;
  z-index: 2;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
}

.card:hover > .card-content *{
  opacity: 1;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1, h2, h3, h4, span {
  opacity: 0;
  color: #730002;
  font-family: "Font", monospace;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  transition: opacity 1s ease;
}


